/* 
  vars {
    color-primary-1: #0065fc;
    color-primary-2: #deebff;
    color-secondary-1: #f2f2f2;
    color-dark: #222222;
    color-light: #ffffff;

    separation-size: 30px;
  }
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #222222; /* color-dark */
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.7rem;
  margin-top: 30px; /* separation-size */
  margin-bottom: 7px;
}

h2 {
  margin-bottom: 25px;
}

#content-wrapper {
  margin: auto;
  max-width: 1470px;
}

main {
  margin: 0 35px;
}

.text-bold {
  font-weight: bold;
}

[id] {
  scroll-margin-top: 30px;
}
