:root {
  --color-primary-1: #0065fc;
  --color-primary-2: #deebff;
  --color-secondary-1: #f2f2f2;
  --color-dark: #222222;
  --color-light: #ffffff;

  --separation-size: 30px;
  --desired-width-xl: 1400px;
  --content-horizontal-padding: 35px;
  --max-content-width: calc(
    var(--desired-width-xl) + 2 * var(--content-horizontal-padding)
  );
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color: var(--color-dark);
  font-family: Raleway, sans-serif;
}

body {
  max-width: var(--max-content-width);
  margin: auto;
  padding: 0 var(--content-horizontal-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.7rem;
  margin-top: var(--separation-size);
  margin-bottom: 7px;
}

h2 {
  margin-bottom: 15px;
}
