.site-header .main-navigation a {
  text-decoration: none;
}
.site-header .main-navigation a:visited {
  color: inherit;
}

.site-header .main-navigation {
  height: 75px;
}

.site-header .navigation-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
}

.site-header .nav-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}
.site-header .nav-item.active::before {
  content: "";
  height: 2px;
  background-color: var(--color-primary-1);
  width: 100%;
}

.site-header .nav-item.active .nav-link {
  color: var(--color-primary-1);
}
.site-header .nav-link {
  margin-top: auto;
  padding: 0 22px;
}

.site-header .nav-item.nav-item-accomodations {
  margin-left: auto;
}

.site-header .nav-item.nav-item-signup {
  font-weight: bold;
  color: var(--color-primary-1);
}

.site-header .site-title {
  font-size: 1.5rem;
}

.site-header .search-bar {
  display: inline-flex;
  align-items: center;
  height: 48px;
  border: 1px solid var(--color-secondary-1);
  background-color: var(--color-secondary-1);
  border-radius: 15px;
  overflow: hidden;
}

.site-header .search-icon {
  padding: 0 15px;
}

.site-header .search-input {
  height: 100%;
  border: none;
  padding: 7px;
  font-weight: bold;
}

.site-header .search-button {
  background-color: var(--color-primary-1);
  color: white;
  border: none;
  height: 100%;
  padding: 0 15px;
  font-weight: bold;
  cursor: pointer;
}
